.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate
.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.92.0/darwin_amd64/terraform-provider-azurerm_v2.92.0_x5
.terraform/
*.backup